# assignment 1, week 2
(description here)

In [1]:
# importing libraries
import pandas as pd

In [2]:
# importing csv of 311 complaints
complaints311 = pd.read_csv('data/complaints311.csv')

In [3]:
complaints311.shape

(8422, 12)

In [4]:
complaints311.head()

,geoid,geoid20,year,denom_total_pop,total_calls,total_calls_rate,homeless_encampment,homeless_encampment_rate,illegal_dumping,illegal_dumping_rate,bulky_items,bulky_items_rate
0,1400000US06037101110,6037101110,2022,4014,1459,3634.7783,14,34.877926,99,246.63676,1025,2553.5625
1,1400000US06037101122,6037101122,2022,4164,1077,2586.4553,9,21.613832,48,115.27377,695,1669.0682
2,1400000US06037101220,6037101220,2022,3481,835,2398.7361,13,37.345589,60,172.36426,580,1666.1879
3,1400000US06037101221,6037101221,2022,3756,891,2372.2046,43,114.483490,147,391.37381,489,1301.9170
4,1400000US06037101222,6037101222,2022,2808,670,2386.0398,15,53.418804,104,370.37036,366,1303.4188